header {

  position: relative;
  height: 550px;

  .header-left {
    width: 50%;
    position: absolute;
    top: 0;
    left: -9999px;
    height: 550px;
    z-index: 2;
    @include transition(all 1.35s cubic-bezier(.82, .005, .29, 1) 0.75s);
  }

  .video-header {
    width: auto;
    position: absolute;
    height: 600px;
    top: -156px;
    right: 0px;
    z-index: 1;
  }
}

