@import "../../node_modules/bootstrap/scss/bootstrap";
@import "variables";
@import "functions";
@import "helpers";
@import "header-v2";
@import "terminal";
@import "portfolio";
@import "footer-social";

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: 800;
  font-size: 3em;
}

h2 {
  font-weight: 800;
  font-size: 2em;
}

h3 {
  font-weight: 800;
  font-size: 1.5em;
}

img {
  max-width: 100%;
  height: auto;
}

.img-belval {
  height: 450px;
}

#map {
  width: 100%;
  height: 500px;
  background-color: grey;
}

#map-people {
  width: 100%;
  height: 500px;
  background-color: grey;
}

.section-text {
  @extend .bg-grey;

  p {
    line-height: 1.9rem;
  }
}

.animated-text {
  @include transition(all linear 0.5s 1s);
}

.hideme {
  opacity: 0;
}

.showme {
  opacity: 1;
}