$color-red: #a55356;
$color-red-dark: #7C4E4F;
$color-red-ptl: rgb(155, 73, 76);
$color-grey: #e1e1e1;
$color-grey-dark: #A0A0A0;
$color-grey-darker: #545454;
$color-green: #336563;
$color-green-light: #839C4E;

$video-header-gap: 50px;