@import "../../node_modules/bootstrap/scss/bootstrap";
@import "variables";
@import "functions";
@import "helpers";
@import "header";
@import "terminal";
@import "portfolio";
@import "footer-social";

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: 800;
  font-size: 3em;
}

h2 {
  font-weight: 800;
  font-size: 2em;
}

img {
  max-width: 100%;
  height: auto;
}

.img-belval {
  height: 450px;
}

#map {
  width: 100%;
  height: 500px;
  background-color: grey;
}