<section class="bg-grey-darker footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 m-0 py-3">
                <p class="text-white m-0"><i class="fa fa-copyright"></i> Pictet Technologies 2019</p>
            </div>
            <div class="col-md-8 text-center  py-3">
                <a href="https://www.linkedin.com/company/pictet-technologies-sa/" target="_blank" title="Linkedin"
                   class="text-white">
                    <i class="fa fa-linkedin"></i>
                </a> &nbsp;
                <a href="https://twitter.com/veggen/" target="_blank" title="Twitter" class="text-white">
                    <i class="fa fa-twitter"></i>
                </a>&nbsp;
                <a href="https://fr-fr.facebook.com/pictettechnologies/" target="_blank" title="Facebook"
                   class="text-white">
                    <i class="fa fa-facebook"></i>
                </a>&nbsp;
                <a href="https://www.instagram.com/pictettechnologies/" target="_blank" title="Instagram"
                   class="text-white">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
            <div class="col-md-2 text-right">
                <img class="img-gptw" src="assets/images/gptw2018.png"/>
            </div>
        </div>
    </div>
</section>